
/* Defining background color for the Body of the page */
body {
    background-color: #d9dcd6;
    width: 100%;
    
}
/* Defining styling properties for the items in the header */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #319976;
    color: #ffffff;
    width: 100;

       
    }

.header h1 {
    display: inline-block;
    font-size: 38px;
}
/*Defines the prperties for the linksin the header*/
.header nav {
    display: flex;
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    align-content: flex-end;
       
}

.header nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

.header nav ul li {
    display: flex;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px
}
a:hover{
    text-decoration: underline;
}

p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Creating thebackgroung image in below the heafer*/
.background {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background.jpeg");
    background-size: cover;
    background-position: center;
    
    
}
.background div img{
    height: 300px;
}
.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
}
.AboutMe{
    display: flex;
    width:97%;
    margin-right: 10px;
    height: auto;
    margin-bottom: 15px;
    
    /*border: 1px black solid;*/

}
.About{
    height: auto;
    width: 30%;
    display: inline-block;
    border-right: 7px #319976 solid ;
    padding-top:20px;
    padding-right: 10px;
    
}
.About h1{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
    padding-left:20px;
    
}
.paragraph{
   
    width: 70%;
    
}

.paragraph p{
    margin:20px;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Mywork{
    padding-top: 10px;
    height: auto;
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    
}
.work{
    display: inline-block;
    height: 100%;
    border-right:#319976 7px solid;
    width :30%;
    

}
.work h1{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
    padding-top: 20px;
    padding-right:20px;
}
.project {
    margin-top: 20px;
    height: 100%;
    display: flex;
    display: inline-block;
     width: 70%;
    /*border: 1px red solid;*/
    align-items: center;
    
 
}
/*Creating the Boxes where will be added application images*/
.app1{
    display: flex;
    flex-wrap: wrap;
    float: left;
    width:98%;
    margin-left: 25px;
    margin-right: 25px;
    border-style: solid;
    border-width: 1px;
    background-image: url("../images/vibeMusical.png");
    background-size: cover;
    background-position:top;
    height: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(32, 32, 32, 0.527);
}
.app1:hover{
    opacity: 0.5;
    
}
/*adding images in the boxes*/
.work1{
    background-image: url("../images/Quiz_code.PNG");
}
.work2{
    background-image: url("../images/weatherDashboard.png");
}
.work3{
    background-image: url("../images/dailyPlanner.png");
}
.work4{
    background-image: url("../images/project.PNG");
}
.app {
    margin-right:0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    background-position: top;
    background-repeat: repeat;
    justify-content: center;
    width:47%;
    height:210px ;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(32, 32, 32, 0.527);
}
/*defines behaviour ,when cursor hover the images in the box*/
.app:hover{
    opacity: 0.5;
   
}
.display {
    color:#89ebca;
    background-color:rgb(131, 144, 158) ;
    font-size:15px;
    opacity:1;
    text-align:left;
    margin-left: 0px;
    margin-top:140px;
    width: 130px;
    height: 40px;
}
 .display1 {
    color:#89ebca;
    background-color:rgb(131, 144, 158) ;
    size:50px;
    opacity:1;
    text-align:left;
    margin-left: 0px;
    margin-top:100px;
    width: 150px;
    height: 60px;
    
}
.span{
    font-size: 15px;
}
.span::before{
    content: "\a";
    white-space: pre;
}

.ContactMe{
    display: flex;
    width: 97%;;
    display: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /*border: 1px rgb(26, 27, 124) solid;*/

}
.contact{
    display: inline-block;
    height: auto;
   align-items: flex-end;
    width: 30%;
    border-right: #319976 7px solid;
    padding-top:30px;
    padding-right: 10px;
   

}
.contact h1 {
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
    padding-top: 0px;
    padding-right:5px;
}
.links{
    display: flex;
    padding-top: 30px;
    margin-right: 160px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    float: right;
    
    
    
}
.links ul li a {
    /* display: flex; */
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
    color: rgb(51, 101, 167);
    text-decoration:underline;
    padding-left: 80px;
         
   }
   
/* defines how the contents of the page reacts on the resizing of the screen*/

@media screen and (max-width: 1300px) {
    .app {
      width: 97%;
    }
    .links{
        margin-right: 50px;
        }
        .links ul li a{
            padding-left: 50px;
        }
}

  @media screen and (max-width: 1274px) {
   
    .links ul li a{
        padding-left: 30px;
    }
    
  }
  @media screen and (max-width: 1033px) {
    .header h1{
  font-size: 28px;
    }
    .header nav ul li a{
        font-size: 25px
    }
    .About h1{
        font-size: 30px;
    }
    .work h1{
        font-size: 30px;
    }
    .contact h1 {
        font-size: 30px;
    }
    .background div img{
        width: 250px;
    }
    

  }
  @media screen and (max-width: 1007px) {
  
    .links ul li a{
        padding-left: 30px;
    }
    .header {
        flex-direction: column;
       
    }
    .header nav ul {
        justify-content:center;
        display: block;
    }
    .header nav ul li{
        display: block;
        text-decoration: underline;
        margin-top: 20px;
        
    }
    .app1{
        width: 97%;
    }
    .header nav ul li a{
        font-size:30px;
    }
    .AboutMe{
        display: block;
        justify-content: center;
       
    }
    .About{
        justify-content: center;
        width: fit-content;
     
        border-right: none;
        border-bottom:  1px #319976 solid ;
           
        
    }
    .About h1{
        float: right;
    }
    

    .Mywork{
        display: block;
        justify-content: center;
    }
    .work{
        display: block;
        width: fit-content;
        border-right: none;
        height: auto;
        border-bottom: 1px #319976 solid ;
    }

.ContactMe{
    display: block;
    flex-direction: column;
}
.contact{
    display: block;
    border-right: none;
    border-bottom:1px #319976 solid ; 
    width: fit-content;
}
.links{
    float: left;
 
}
.links ul{
    display: block;
}
.links ul li a{
    display: block;
    text-decoration: underline;
    margin-top: 20px;
    padding-left: 10px;
    margin-top: 10px;
}

.paragraph{
    width: 96%;
}
.project{
    width: 96%;
}
    
 

 @media screen and (max-width: 490px) {
        .paragraph{
            width: 96%;
        }
        .project{
            width: 96%;
        }

    }


    }   
    
    

    

     
    
      
        

    

  